Django~=5.2.8
gunicorn
python-dotenv
django-filter
markdown
djangorestframework
django-rest-swagger
setuptools
psycopg2-binary~=2.9
drf-yasg
django-rest-registration
django-cors-headers
django-redis
django-admincharts